.outer-container {
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    background: rgba(255,255,255,0.6);
    width: 90%;
    height: 85%;
    position: absolute;
    left: 5%;
    top: 10%;
}

.input-container {
    width: 100%;
}


.element {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.element input {
    margin: 20px;
    color: #fff;
    width: 240px;
    background-color: #945600;
    height: 29px;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
}
.element ::-webkit-input-placeholder {
    color: #fff;
}

.date.subtitle, .category.subtitle, .weight.subtitle {
    font-size: 20px;
    padding: 5px;
    font-family: comic Arial, Helvetica, sans-serif;
}
.page-title {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 3%;
    font-size: 40px;
    margin-bottom: 20px;
}
.outside {
    margin: 20px;
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 33px;
    overflow: hidden;
    width: 240px;
    border-radius: 20px;
    background-color: #945600;
}

.outside select {
    color: #fff;
    background: transparent;
    border: none;
    font-size: 14px;
    height: 33px;
    padding: 5px;
    width: 268px;
    outline: none;
}

.enter button {
    background-color: #E09F3E;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    width: 150px;
    height: 30px;
    margin: 25px;
}



